<div class="profile_avatar_box" *ngIf="!loading">
    <div class="avatar avatar-12" [ngClass]="{
        'avatar-male-student' : student?.person?.gender.alternateName === 'male',
        'avatar-female-student' : student?.person?.gender.alternateName === 'female' }">
    </div>

    <div class="font-xl font-weight-bold text-center">{{ student.person | localize:['familyName'] }} {{ student.person |
        localize:['givenName'] }}</div>
    <div class="font-lg" [translate]="'StudentStatus.'+ student?.studentStatus.alternateName"></div>
</div>

<!--Progress Bar Code-->
<div class="d-none d-sm-block">
    <div class="progress_bar__container mb-5" *ngIf="!loading">
        <div class="progress_bar__first_column">
            <div class="progress_bar__first_top_box">
                <div class="font-lg">{{ student?.inscriptionDate| localizedDate:'LLLL' }}</div>
                <div class="font-lg">{{ student?.inscriptionDate| localizedDate:'yyyy' }}</div>
            </div>
            <div class="progress_bar__first_main_box">
                <div class="progress_bar__circle progress_bar__circle_style_1"></div>
                <div class="progress_bar__line"></div>
            </div>
            <div class="progress_bar__first_bottom_box">
                <div class="font-lg">{{student?.inscriptionSemester | semester}}</div>
                <div class="font-lg">(<span [translate]="'Profile.Enrollment'"></span>)</div>
            </div>
        </div>
        <div class="progress_bar__inner_column">
            <div class="progress_bar__top_box">
                <div class="font-lg" *ngIf="student.studentStatus.alternateName === 'active'">
                    <span [translate]="'Profile.Now'"></span>
                </div>
            </div>
            <div class="progress_bar__main_box">
                <div class="progress_bar__line"></div>
                <div class="progress_bar__circle progress_bar__circle_style_1"
                    [ngStyle]="{'display': student.studentStatus.alternateName === 'graduated' ? 'none' : 'inherit'}">
                </div>
                <div class="progress_bar__small_circle_box"
                    [ngStyle]="{'display': student.studentStatus.alternateName === 'active' ? 'none' : 'inherit'}">
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                </div>
                <div class="progress_bar__line"></div>
            </div>
            <div class="progress_bar__bottom_box">
                <div class="font-xl text-center" *ngIf="student.studentStatus.alternateName === 'active'">{{
                    student?.semester | semester }}</div>
            </div>
        </div>
        <div class="progress_bar__last_column">
            <div class="progress_bar__last_top_box">
                <div class="font-lg" *ngIf="student.studentStatus.alternateName == 'graduated'">{{
                    student?.graduationDate | localizedDate:'LLLL' }}</div>
                <div class="font-lg" *ngIf="student.studentStatus.alternateName == 'graduated'">{{
                    student?.graduationDate | localizedDate:'yyyy' }}</div>
            </div>
            <div class="progress_bar__last_main_box">
                <div class="progress_bar__line"></div>
                <div class="progress_bar__circle progress_bar__circle_style_1"
                    [ngStyle]="{'display': student.studentStatus.alternateName === 'active' ? 'none' : 'inherit'}">
                </div>
                <div class="progress_bar__small_circle_box"
                    [ngStyle]="{'display': student.studentStatus.alternateName === 'graduated' ? 'none' : 'inherit'}">
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                    <div class="progress_bar__small_circle"></div>
                </div>
            </div>
            <div class="progress_bar__last_bottom_box">
                <div class="font-xl" *ngIf="student.studentStatus.alternateName == 'graduated'"><span
                        [translate]="'Profile.Degree'"></span></div>
            </div>
        </div>
    </div>
</div>
<!--End of Progress Bar Code-->

<!--Card 1 Code-->
<div class="card font-style" *ngIf="!loading">
    <div class="card-body">

        <div class="row mb-2 mb-md-0">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-12 col-md-6 label">
                        <span [translate]="'Profile.Department'"></span>
                    </div>
                    <div class="col-lg-6 data-colored">
                        <a [routerLink]="['/info/department']"><span>{{student?.department?.name || "-"}}</span></a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.Specialty'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.specialty || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <!--The first two are empty columns-->
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.Curriculum'"></span>
                    </div>
                    <div class="col-lg-6 data-colored">
                        <span>{{student?.studyProgram?.name || "-"}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="student?.studentSeries">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.StudentSeries'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.studentSeries?.name || "-"}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-md-0" *ngIf="programGroups && programGroups.length>0">
            <div class="col" col-12 col-md-6>
                <div class="row">
                    <!--The first two are empty columns-->
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.ProgramGroups'"></span>
                    </div>
                    <div class="col-lg-6">
                        <div *ngFor="let programGroup of programGroups">{{programGroup.programGroup?.description ||
                            programGroup.programGroup?.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-n2 mb-md-0" *ngIf="studentCounselors && studentCounselors.length>0">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.StudentCounselors'"></span>
                    </div>
                    <div class="col-lg-6">
                        <div *ngFor="let counselor of studentCounselors">
                            <span *ngIf="counselor?.instructor?.email; else instructorName">
                                <a href="mailto:{{counselor?.instructor?.email}}">
                                    {{counselor?.instructor?.familyName}} {{counselor?.instructor.givenName}}
                                </a>
                            </span>
                            <ng-template #instructorName>
                                <span *ngIf="counselor?.instructor; else empty">
                                    {{counselor?.instructor?.familyName}} {{counselor?.instructor.givenName}}
                                    ({{'Profile.From' | translate}} {{counselor.startDate | date:'shortDate'}}<span
                                        *ngIf="counselor.endDate"> {{'Profile.To' | translate}} {{counselor.endDate |
                                        date:'shortDate'}}</span>)
                                </span>
                            </ng-template>
                            <ng-template #empty>
                                <span> - </span>
                            </ng-template>
                            <div class="border-top text-muted">
                                <span *ngIf="!studentCounselorConcent" class="pr-1">
                                    <i class="fa fa-exclamation-circle pr-1"></i>
                                    <span translate="Profile.CounselorConcent.NoConsent"></span>
                                </span>
                                <span *ngIf="studentCounselorConcent" class="pr-1">
                                    <i class="fa fa-check-circle pr-1"></i>
                                    <span translate="Profile.CounselorConcent.Consent"></span>
                                </span>
                                <a [routerLink]="['/consents/consultationStudent']">
                                    <span translate="Profile.CounselorConcent.Change"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row mb-2 mb-md-0">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.UniqueIdentifier'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.uniqueIdentifier || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.InscriptionMode'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.inscriptionMode?.name || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.InscriptionPeriod'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.inscriptionPeriod?.name || "-"}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.StudentIdentifier'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.studentIdentifier || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.InscriptionYear'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.inscriptionYear?.alternateName || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.InscriptionSemester'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.inscriptionSemester | semester}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Of Card 1 Code-->

<!--Card 2 Code-->
<div class="card font-style" *ngIf="!loading">
    <div class="card-body">

        <div class="row mb-2 mb-md-0">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.FirstName'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{ student.person | localize:['givenName'] || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.Lastname'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{ student.person | localize:['familyName'] || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.SSN'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.SSN || "-"}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.Username'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.user?.name || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.Email'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.email || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.AlternateEmail'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.alternateEmail || "-"}}</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row mb-2 mb-md-0">
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.HomePhone'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.homePhone || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.MobilePhone'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.mobilePhone || "-"}}</span>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.HomeAddress'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.homeAddress || "-"}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 label">
                        <span [translate]="'Profile.TemporaryAddress'"></span>
                    </div>
                    <div class="col-lg-6">
                        <span>{{student?.person?.temporaryAddress || "-"}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Card 2 Code-->